@import './base.css';

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Maven', sans-serif !important;
    background-color: var(--tertiary) !important;
    color: var(--black) !important;
    margin-bottom: 100px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary) !important;
    font-family: 'Minion', sans-serif !important;
}

/* Navbar Styling */
.navbar {
    background-color: var(--primary) !important;
}

.navbar .navbar-brand {
    color: var(--quaternary) !important;
    font-weight: bold !important;
}

.navbar .navbar-nav .nav-link {
    color: var(--quaternary) !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--secondary) !important;
}

/* Button Styling */
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--quaternary) !important;
}

.btn-primary:hover {
    border-color: darken(var(--primary), 10%) !important;
    color: var(--quaternary) !important;
}

.btn-secondary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: var(--quaternary) !important;
}

.btn-secondary:hover {
    border-color: darken(var(--secondary), 10%) !important;
    color: var(--quaternary) !important;
}

.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary) !important;
    color: var(--quaternary) !important;
}

.btn-outline-secondary {
    color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn-outline-secondary:hover {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
}

.btn-danger {
    background-color: var(--danger) !important;
    color: var(--quaternary) !important;
}

.btn-danger:hover {
    border-color: darken(var(--danger), 10%) !important;
    color: var(--quaternary) !important;
}

.btn-outline-danger {
    color: var(--black) !important;
    border-color: var(--danger) !important;
}

.btn-info {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
    color: var(--quaternary) !important;
}

.btn-info:hover {
    border-color: darken(var(--info), 10%) !important;
    color: var(--quaternary) !important;

}

.btn-outline-info {
    color: var(--info) !important;
    border-color: var(--info) !important;
}

.btn-outline-info:hover {
    background-color: var(--info) !important;
    color: var(--quaternary) !important;
}

.btn-warning {
    background-color: var(--warning) !important;
    color: var(--quaternary) !important;
}

.btn-warning:hover {
    border-color: darken(var(--warning), 10%) !important;
    color: var(--quaternary) !important;
}

.btn-outline-warning {
    color: var(--warning) !important;
    border-color: var(--warning) !important;
}

.btn-outline-warning:hover {
    background-color: var(--warning) !important;
    color: var(--quaternary) !important;
}

/* Cards */
.card {
    background-color: var(--quaternary) !important;
    border: 1px solid var(--tertiary) !important;
}

.card-header {
    background-color: var(--primary) !important;
    color: var(--quaternary) !important;
}

.card-footer {
    background-color: var(--dimgray) !important;
    color: var(--black) !important;
}

.card-title {
    color: var(--primary) !important;
}

.card-body {
    color: var(--black) !important;
}

/* Custom form controls */
.form-control {
    border-color: var(--tertiary) !important;
}

.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 0.25rem rgba(20, 33, 61, 0.25) !important;
}

/* Alerts */
.alert-success {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: var(--quaternary) !important;
}

.alert-danger {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--quaternary) !important;
}

/* Links */
a {
    color: var(--primary) !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--secondary) !important;
    text-decoration: none !important;
}

.navbar-toggler {
    background-color: var(--secondary) !important;
}

p {
    font-family: 'Maven', sans-serif !important;
}

.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
}

.scrollable-list-large {
    max-height: 350px;
    overflow-y: auto;
}

.nav-tabs .nav-link.active {
    background-color: var(--black) !important;
    color: var(--quaternary) !important;
    margin-right: 0.15rem !important;
}

.nav-tabs .nav-link {
    color: var(--primary) !important;
    background: white !important;
    margin-right: 0.15rem !important;
}

.nav-tabs .nav-link:hover {
    color: var(--secondary) !important;
}

form input[type="file"] {
    color: white;
    background-color: var(--primary);
}

form input[type="file"]:hover {
    color: white;
    background-color: var(--secondary);
}

form input[type="file"]:focus {
    color: white;
    background-color: var(--secondary);
    box-shadow: none !important;
}

form {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem !important;
    background-color: var(--quaternary) !important;
    border-radius: 10px !important;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    box-shadow: 0 0 0 1px var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
    outline: none !important;
}

form textarea.form-control:focus {
    box-shadow: 0 0 0 1px var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
}

canvas {
    background-color: var(--quaternary) !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px !important;
    padding: 3rem !important;
    width: 100% !important;
    height: auto !important;
}

.dropdown-menu {
    background-color: var(--quaternary) !important;
    color: var(--black) !important;
}

.dropdown-item {
    color: var(--black) !important;
}

.dropdown-item:hover {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.dropdown-item:active {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.debt-details-table {
    background-color: var(--quaternary) !important;
    color: var(--black) !important;
    border: 1px solid black !important;
}

.debt-details-table th {
    font-weight: bold !important;
}

/* Footer */
footer {
    background-color: var(--primary) !important;
    color: var(--quaternary) !important;
    padding: 1rem 0 !important;
    text-align: center !important;
    bottom: 0 !important;
    width: 100% !important;
    position: absolute !important;
}

@media (max-width: 768px) {
    canvas {
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
        padding: 1rem !important;
    }

    .card {
        margin-bottom: 3rem !important;
    }
}

